targets = [
    { triple = "aarch64-apple-darwin" },
    { triple = "aarch64-pc-windows-msvc" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "x86_64-unknown-linux-gnu" },
]

[licenses]
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-3-Clause",
    "CC0-1.0",
    "GPL-3.0",
    "MIT",
    "MPL-2.0",
    "Unicode-DFS-2016",
]

[bans]
wildcards = "allow"
skip-tree = [
    { name = "windows-sys", version = "*" },
    { name = "syn", version = "*" },
]
